body {
  padding: 20px;
  max-width: 500px;
  margin: auto;
  font-family: sans-serif;
}
a {
  font-weight: bold;
  color: #01366a;
}
h2 a {
  text-decoration: none;
  color: #000;
}
img, embed {
  width: 100%;
}
embed {
  aspect-ratio: 16/9;
}
hr {
  border: 0.01px solid #00000025;
}